* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c0e0ff;
}

.quiz {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
}

.game {
  max-width: 600px;
  width: 90%;
  // position: absolute;
  // top: 30%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 15px;
  background-color: white;
  text-align: center;

  &__form {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: 0 auto;
  }

  &__header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
    line-height: 30px;
  }

  &__score {
    font-weight: 500;
  }

  &__lives {
    font-weight: 500;
  }

  &__name {
    font-weight: 900;
    margin: 0;
    padding: 0;
  }

  &__flag {
    height: 120px;
    filter: drop-shadow(0 0 40px #c0e0ff);
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__buttons {
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-template-rows: 50px 50px;
  }

  &__button {
    padding: 0 15px;
    background-color: white;
    line-height: 50px;
    margin: 5px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #d2e9ff;
    }
  }

  &__radio-buttons {
    margin: 25px auto 0;
    display: flex;
    flex-direction: row;
    column-gap: 85px;
  }

}